<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet">
<style type="text/css">
.cat {
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
background-color: #000000;
padding: 5px;
color: #FFFFFF !important;
font-color: #FFFFFF !important;
}
.addpost_button {
  background-color: #03a87c !important;
}
.wcomments_head {
  background-color: #03a87c !important;
}
.close-button {
  background-color: #03a87c !important;
  border-color: #03a87c !important;
}
</style>
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?161"></script>

<script type="text/javascript">
  VK.init({apiId: 6802614, onlyWidgets: true});
</script>
<!-- This goes before </head> closing tag, Google Analytics can be placed here --> 
